<template>
  <div class="container">
    <h1 class="header">Todo List</h1>
    <div class="todo-container">
      <div class="input-container">
        <input
          v-model="newTodo"
          type="text"
          class="input-todo"
          placeholder="What needs to be done?"
          @keyup.enter="addTodo()"
        />
      </div>
      <div v-for="(todo, i) in filteredTodos" :key="todo.id" class="todo-item">
        <div class="todo-item-left">
          <input
            type="checkbox"
            v-model="todo.completed"
            @change="completeTodo(todo)"
          />
          <div
            v-if="!todo.editing"
            :class="{ completed: todo.completed }"
            class="todo-item-label"
            @dblclick="editTodo(todo)"
          >
            {{ todo.title }}
          </div>
          <input
            v-else
            v-model="todo.title"
            class="todo-item-edit"
            type="text"
            @keyup.enter="doneEdit(todo)"
            @keyup.esc="cancelEdit(todo)"
            v-focus
          />
        </div>
        <div class="remove-item" @click="removeTodo(i)">&times;</div>
      </div>
      <div v-if="filteredTodos.length > 0" class="lower-part">
        <div>
          <label
            ><input
              type="checkbox"
              :checked="!anyRemaining"
              @change="checkAllTodos"
            />Check All</label
          >
        </div>
        <div>{{ remaining }} items left</div>
      </div>
      <div v-if="$store.state.todos.length > 0" class="lower-part">
        <div>
          <button :class="{ active: filter == 'all' }" @click="filter = 'all'">
            All
          </button>
          <button
            :class="{ active: filter == 'active' }"
            @click="filter = 'active'"
          >
            Active
          </button>
          <button
            :class="{ active: filter == 'completed' }"
            @click="filter = 'completed'"
          >
            Completed
          </button>
        </div>
        <div>
          <button v-if="showClearCompletedBtn" @click="clearCompleted">
            Clear Completed
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  data: () => ({
    newTodo: "",
    beforeEditCache: "",
    filter: "all"
  }),
  computed: {
    filteredTodos() {
      let todos = this.$store.state.todos;
      if (this.filter == "all") {
        return todos;
      } else if (this.filter == "active") {
        return todos.filter(x => !x.completed);
      } else if (this.filter == "completed") {
        return todos.filter(x => x.completed);
      } else {
        return todos;
      }
    },
    remaining() {
      return this.$store.state.todos.filter(x => !x.completed).length;
    },
    anyRemaining() {
      return this.remaining != 0;
    },
    showClearCompletedBtn() {
      return this.$store.state.todos.filter(x => x.completed).length > 0;
    }
  },
  directives: {
    focus: {
      inserted: function(el) {
        el.focus();
      }
    }
  },
  methods: {
    addTodo() {
      if (this.newTodo.trim().length === 0) {
        return;
      }
      this.$store.commit("addTodo", this.newTodo);
      this.newTodo = "";
    },
    editTodo(todo) {
      this.beforeEditCache = todo.title;
      todo.editing = true;
    },
    doneEdit(todo) {
      if (todo.title.trim().length === 0) {
        todo.title = this.beforeEditCache;
        todo.editing = false;
      } else {
        this.$store.commit("updateTodo", todo);
      }
    },
    cancelEdit(todo) {
      todo.title = this.beforeEditCache;
      todo.editing = false;
    },
    removeTodo(index) {
      this.$store.commit("removeTodo", index);
    },
    completeTodo(todo) {
      this.$store.commit("completeTodo", {
        event: event.target.checked,
        todo
      });
    },
    checkAllTodos() {
      this.$store.commit("checkAllTodos", event.target.checked);
    },
    clearCompleted() {
      this.$store.commit("clearCompleted");
    }
  }
};
</script>

<style scoped lang="stylus">
.container
  min-width 230px
  max-width 550px
  background #fff
  margin 10px 0 40px 0
  position relative
  margin-left auto
  margin-right auto
  .header
    width 100%
    font-size 100px
    text-align center
    color rgba(175, 47, 47, 0.15)
    -webkit-text-rendering optimizeLegibility
    -moz-text-rendering optimizeLegibility
    text-rendering optimizeLegibility
  .todo-container
    box-shadow 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1)
    .input-container
      padding-right 40px
      border-bottom 1px solid lightgrey
      .input-todo
        width 100%
        padding 10px 20px
        font-size 18px
        border none
        &:focus
          outline none
    .todo-item
      display flex
      align-items center
      justify-content space-between
      padding 10px 20px
      border-bottom 1px solid lightgrey
      .todo-item-left
        display flex
        align-items center
        .todo-item-label
          margin-left 12px
        .completed
          text-decoration line-through
          color grey
        .todo-item-edit
          font-size 22px
          color #2c3e50
          margin-left 12px
          width 100%
          padding 10px
          border 1px solid #cccccc
          &:focus
            outline none
      .remove-item
        cursor pointer
        color #ffffff
        &:hover
          color #000
    .lower-part
      display flex
      align-items center
      justify-content space-between
      font-size 16px
      border-bottom 1px solid lightgrey
      padding 10px 20px
    button
      font-size 14px
      margin 0 5px
      padding 3px 7px
      border-radius 3px
      border 1px solid transparent
      cursor pointer
      text-decoration none
      color inherit
      border none
      &:hover
        border 1px solid transparent
        border-color rgba(175, 47, 47, 0.2)
      &:focus
        outline none
    .active
      border 1px solid transparent
      border-color rgba(175, 47, 47, 0.2)
</style>
